:root {
    --background-color: #eee;
    --text-color: #000000;
    --header-background: #ffffff; /* Gray background for header in light theme */
    --footer-background: #ccc; /* Gray background for footer in light theme */
    --product-background: #fff;
    --hover-color: rgb(59, 59, 59);
    --box-shadow: rgba(0, 0, 0, 0.1);
    --product-border: #000; /* Black border for products in light theme */
}

body.dark {
    --background-color: #222;
    --text-color: #fff;
    --header-background: #333;
    --footer-background: #333;
    --product-background: #444;
    --hover-color: rgb(195, 195, 195);
    --box-shadow: rgba(255, 255, 255, 0.2);
    --product-border: #fff; /* White border for products in dark theme */
}

body {
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--header-background);
    box-shadow: 0 2px 5px var(--box-shadow);
    transition: background-color 0.5s ease;
}

header h1 {
    color: var(--text-color);
    text-align: center;
    margin: 0;
    width: 100%;
}

.logo-image {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

#hero {
    text-align: center;
    padding: 100px 20px;
    background: url('images/hero-bg.jpg') no-repeat center center/cover;
    color: var(--text-color);
    transition: color 0.5s ease;
}

#hero h1 {
    font-size: 4em;
    margin: 0;
}

#hero p {
    font-size: 1.5em;
}

#shop {
    padding: 100px;
    text-align: center;
    background-color: var(--header-background);
    transition: background-color 0.5s ease;
}

#shop h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    height: 100%;
}

.product-item {
    background-color: var(--product-background);
    padding: 20px;
    border: 2px solid var(--product-border);
    border-radius: 10px;
    width: 200px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s ease;
    position: relative;
    box-shadow: 0 4px 8px var(--box-shadow);
    text-transform: uppercase;
}

.product-item:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px var(--box-shadow);
}

.product-item img {
    width: 100%;
    border-radius: 10px;
    transition: opacity 0.3s;
}

body, html {
    height: 100%;
    margin: 0;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

body {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.footer {
    background-color: var(--footer-background);
    color: var(--text-color);
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 5px var(--box-shadow);
    transition: background-color 0.5s ease, color 0.5s ease;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--header-background);
    overflow-x: hidden;
    transition: width 0.2s ease, background-color 0.2s ease;
    padding-top: 60px;
    box-shadow: 2px 0 5px var(--box-shadow);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 20px;
    color: var(--text-color);
    display: block;
    transition: color 0.1s;
}

.sidebar a:hover {
    color: var(--hover-color);
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
}

@media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
}

#about, #contact {
    text-align: center;
    padding: 50px 20px;
    background-color: var(--header-background);
    transition: background-color 0.5s ease;
    height: 100%;
}

#about p, #contact p {
    font-size: 1.2em;
}

#product-details {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items to the top */
    padding: 20px;
    text-align: left;
}

.product-images {
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    overflow: hidden; /* Добавляем overflow: hidden */
    margin-right: 20px; /* Добавляем отступ справа */
}

.product-images img {
    width: 100%;
    transition: transform 0.5s ease;
    cursor: zoom-in;
}

.product-images img.zoomed {
    cursor: zoom-out;
    transform: scale(1.4); /* Увеличение изображения */
}

.thumbnail-images img {
    width: 100px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

.thumbnail-images img:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 768px) {
    #product-details {
        flex-direction: column;
        align-items: center;
    }
    .product-images {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.theme-toggle {
    background: var(--product-background);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    padding: 5px 15px;
    margin-left: auto;
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.theme-toggle:hover {
    background: var(--hover-color);
    color: var(--header-background);
    border-color: var(--header-background);
}

#add-to-cart-btn {
    background: var(--footer-background);
    margin-top: 20px;
    padding: 10px 20px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#add-to-cart-btn:hover {
    background: var(--hover-color);
    color: var(--header-background);
    border-color: var(--header-background);
}

#checkout-btn {
    background: var(--box-shadow);
    margin-top: 20px;
    padding: 10px 20px;
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#checkout-btn:hover {
    background: var(--hover-color);
    color: var(--header-background);
    border-color: var(--header-background);
}


/* Add styles for cart and checkout pages */
#cart, #checkout {
    padding: 100px;
    text-align: center;
    background-color: var(--header-background);
    transition: background-color 0.5s ease;

}

#cart h2, #checkout h2 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

#cart-items, .form-group {
    margin-bottom: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid var(--product-border);
    border-radius: 10px;
    background-color: var(--product-background);
    margin-bottom: 10px;
    flex-wrap: wrap;
}

.cart-item, .form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border: 2px solid var(--product-border);
    border-radius: 10px;
    background-color: var(--product-background);
    transition: background-color 0.5s ease;
    margin-bottom: 10px;
}

.cart-item img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.remove-btn {
    background-color: var(--header-background);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.remove-btn:hover {
    background-color: var(--header-hover);
}

#cart-summary {
    text-align: center;
    margin-top: 20px;
}

#checkout-form {
    max-width: 600px;
    margin: 0 auto;
}

#checkout-form .form-group {
    flex-direction: column;
    align-items: flex-start;
}

#checkout-form label {
    font-weight: bold;
}

#checkout-form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 2px solid var(--product-border);
    border-radius: 5px;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

#checkout-form button {
    width: 100%;
    padding: 15px;
    background-color: var(--product-background);
    color: var(--text-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.5s ease;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

form {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: var(--footer-background);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
}

.form-group input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color: var(--hover-color);
    color: var(--product-background);
    border: 2px solid var(--text-color);
    border-radius: 20px;
    cursor: pointer;
    font-size: 18px;
    font-family: "Jura", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.cart-item-details {
    flex: 1;
    text-align: center;
}

.cart-item-price {
    width: 100px;
    text-align: center;
}

/* Адаптивность */
@media (max-width: 768px) {
    #cart {
        padding: 20px;
    }

    .cart-item {
        flex-direction: column; /* Элементы располагаются вертикально */
        align-items: center; /* Центрируем элементы */
        text-align: center;
    }

    .cart-item img {
        margin-right: 0;
        margin-bottom: 10px; /* Добавляем отступ снизу для изображения */
        width: 80px;
        height: 80px;
    }

    .cart-item > * {
        margin-bottom: 10px; /* Отступы между элементами */
    }

    .remove-btn {
        align-self: flex-end;
    }

    #checkout-btn {
        width: 100%;
        padding: 15px;
        font-size: 20px;
    }

    #cart-summary {
        text-align: center;
        margin-top: 20px;
    }
}